@use 'sass:list';
@use 'sass:map';
@import '../abstracts/variables/colors';

$navies: $color_primary-0, $color_primary-1, $color_primary-2, $color_primary-3, $color_primary-4;
$dark-blues: $color_secondary-0, $color_secondary-1, $color_secondary-2, $color_secondary-3, $color_secondary-4;
$yellows: $color_primary-0c, $color_primary-1c, $color_primary-2c, $color_primary-3c, $color_primary-4c;
$greys: $color_secondary-0c, $color_secondary-1c, $color_secondary-2c, $color_secondary-3c, $color_secondary-4c;
$links: $color_link-0, $color_link-1, $color_link-2, $color_link-3, $color_link-4;
$gradients: (
  'secondary-1_secondary-0_secondary-0c': linear-gradient(
    0deg,
    $color_secondary-1 0%,
    $color_secondary-0 22%,
    $color_secondary-0c 100%,
  ),
  'secondary-1_secondary-4': linear-gradient(
    0deg,
    $color_secondary-1 0%,
    $color_secondary-4 100%,
  ),
);

@mixin colorProp($slug, $color) {
  :root .has-#{$slug} {
    &-color {
      color: $color;
      --palette-color: #{$color};
    }
    &-background-color {
      background-color: $color;
      --palette-bg-color: #{$color};
    }
  }
}

@mixin colorProps($id, $list, $c) {
  @each $color in $list {
    @include colorProp(#{$id}-#{list.index($list, $color) - 1}#{$c}, $color);
  }
}

@mixin makeGradients() {
  @each $slug, $grad in $gradients {
    :root .has-#{$slug}-gradient-background {
      background: $grad;
    }
  }
}

/* Color Palette Styles */
@include colorProps("primary", $navies, "");
@include colorProps("secondary", $dark-blues, "");
@include colorProps("primary", $yellows, "c");
@include colorProps("secondary", $greys, "c");

/* Temporary measure while custom blocks are rewritten */
@include colorProps("primary", $yellows, "-c");
@include colorProps("secondary", $greys, "-c");

@include colorProps("link", $links, "");
@include colorProp("white-bright", #fff);
@include colorProp("white", $color_white);
@include colorProp("white-dark", $color_white-dark);

:root {
  .has-white, .has-white-dark, .has-white-bright {
    &-color a {
      &, &:hover, &:focus-visible, &:focus {
        color: $color_primary-2c;
      }

      &:hover, &:focus-visible {
        color: $color_primary-3c;
      }
    }
  }
}

:root .link-white, :root .link-navbar {
  @at-root a#{&}, & a {
    &, &:hover, &:focus-visible, &:focus {
      color: $color_white-dark;
    }
  }
}

:root .link-navbar {
  @at-root a#{&}, & a {
    &:hover, &:focus-visible {
      background-color: $color_secondary-2;
      text-decoration: none;
    }
  }
}

@include makeGradients();
