@use 'sass:list';
@use 'sass:math';
@import 'abstracts/variables/colors';
@import 'abstracts/mixins/mixins';

/*
  Generic stylesheet which is loaded in the editor
 */

.block-editor-panel-color-gradient-settings__dropdown-content {
  .components-popover__content > div {
    width: 205px;
  }
}
.ncs4-button.ncs4-button {
  /* Button types */
  @include component-buttons();
  &.ncs4-button {
    &__blue {
      --btn-primary: #{$color_white};
      --btn-secondary: #{$color_link-0};
    }
  
    &__yellow {
      --btn-primary: #{$color_secondary-0c};
      --btn-secondary: #{$color_primary-2c};
    }
  
    &__gold {
      --btn-primary: #{$color_secondary-0c};
      --btn-secondary: #{$color_primary-1c};
    }
  }
  }

