@use 'sass:color';
@use 'sass:math';
@import 'abstracts/variables/colors';

$overlay-color: color.scale($color_secondary-1c, $alpha: -40%);
$hero-width: 80%; /* Minimum safe tested value: 80% */

body {
  background-color: $color_white;
}

/* Hero styling */

.hero-container {
  position: relative;
  z-index: -1;
  background-color: $color_secondary-1c;

  .ncs4-site-margin {
    padding: 0 math.div(100% - $hero-width, 2);
    position: relative;
  }

  @at-root .hero-overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(-70deg, transparent 49.95%, $overlay-color 50.05%);

    @at-root .hero-text {
      color: $color_white;
      flex: 0 0 50%;
      padding-left: 2%;

      &__header {
        width: 60%;

        h2 {
          margin-top: 0.8em;;
          margin-bottom: 0.4em;
          font-style: italic;
          text-transform: uppercase;
          font-size: clamp(10px, 2.9vw, 4.8rem);
        }
      }

      &__paragraph {
        width: 40%;

        p {
          margin: 0;
          font-size: clamp(8px, 2.4vw, 2.4rem);
        }
      }
    }
  }

  @at-root .hero-video {
    display: block;
    width: 100%;
  }
}

/* Banner block styling ("Vision", "Mission", etc) */

.banner {
  padding: 2.4rem 0;

  * {
    margin-top: 0;
  }

  h3 {
    max-width: 40ch;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0;
  }

  p {
    font-size: 2.4rem;
    max-width: 100ch;
    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-navy {
    background-color: $color_primary-1;

    &__gradient {
      background: linear-gradient(0, $color_secondary-1 0%, $color_secondary-0 22%, $color_secondary-0c 100%);
    }

    h3 {
      color: $color_primary-2c;
    }

    p {
      color: $color_white-dark;
    }
  }

  &-white {
    background-color: $color_white;
    color: $color_secondary-2c;
  }

  &-blue {
    background-color: $color_secondary-4;
    color: $color_white-dark;
  }
}

/* Pillar Styling */

.pillars {
  justify-content: center;

  > div {
    margin-bottom: 1.6rem;
  }

  @at-root .pillar {
    height: 100%;
    margin-top: 4.8rem;
    background: linear-gradient(0, $color_secondary-1 0%, $color_secondary-4 100%);
    color: $color_white;

    figure {
      display: flex; /* Shrink image container to image */
    }

    h3 {
      font-weight: normal;
      padding: 0 3.2rem;
      font-size: 3.2rem;
      text-transform: uppercase;
      margin-top: 2.4rem;
      margin-bottom: 1.6rem;
    }

    p {
      max-width: 40ch;
      font-size: 2rem;
      padding: 0 3.2rem;
      padding-bottom: 3.2rem;
    }
  }
}

/* Footer Tiles */

.tiles {
  margin-top: 4.8rem;

  &__inner {
    font-size: 3.2rem;
    background-color: $color_white;

    > div { /* Inner container of group */
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 2px;
    }
  }

  .tile {
    background-color: $color_secondary-4;
    flex: 1 0 0;
    min-width: max-content;

    &__image {
      width: 25.6rem;
    }

    p {
      max-width: 30ch;
      margin: auto;
    }
  }
}
