@use 'sass:color';
@import 'abstracts/variables/colors';
@import 'abstracts/variables/resources';

$header-col1-width: 30%;
$header-col2-width: 100% - $header-col1-width;
$nav-submenu-width: 150px;
$searchform-height: 3.2rem;
$mobile_nav-width: 18.6rem;

.site-header {
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100px;
	background-color: $color_ncs4-navy;
	
	* {
		color: $color_white;
	}
	
	*:visited {
		color: unset;
	}

	a:hover, a:focus {
		background-color: $link_blue-bg;
		color: unset;
	}
}

.site-header-inner {
	display: flex;
	width: 80%;
	max-width: 1320px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.site-header-col {
	margin-top: auto;
}

.site-header-col.col1 {
	float: left;
	width: $header-col1-width;

	.col-inner {
		width: 100%;
		float: left;
	}

	a, a:hover, a:focus {
		background-color: transparent;
	}
}

.site-header-col.col2 {
	float: right;
	width: $header-col2-width;
	padding-bottom: 8px;

	.col-inner {
		float: right;
	}
}

/* Search form */
#header-search-widget {
	$searchform-bg: $color_ncs4-navy-dark;

	display: flex;

	#header-search-widget-inner {
		margin-left: auto;

		.search-form {
			display: flex;
			margin-left: auto;
			border-width: 1px;
			border-style: none;
			border-radius: 0;
			border-bottom-style: solid;
			border-color: $color_ncs4-navy-light;

			* {
				border: none;
				border-radius: 0;
			}

			#searchform { /* input field */
				box-sizing: content-box;
				padding: 0 0.5rem;
				line-height: 0; /* Removes any space at top */
				height: $searchform-height;
				background-color: $searchform-bg;
				color: $color_white;
			}

			#searchform:focus, #searchform:focus-visible {
				outline: none;
			}

			.search-form-submit {
				box-sizing: content-box;
				height: $searchform-height;
				width: $searchform-height;
				background-color: $searchform-bg;
				background-image: url($ico_search);
				background-repeat: no-repeat;
				background-size: 100%;
				padding: 0;
			}

			.search-form-submit:hover {
				cursor: pointer;
			}
		}
	}
}

/* Navigation
--------------------------------------------- */
/* Imported (and modified) from _s's default style.scss */

/* Desktop Navigation */
.main-navigation {
  display: block;
  width: 100%;
  $submenu-border-width: 1px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
    	padding: 0 8px;
    }

    /* Sub-menus */
    ul {
    	background-color: $color_white;
    	width: $nav-submenu-width;
    	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  		float: left;
  		position: absolute;
  		top: 100%;
  		left: -$submenu-border-width; // lineup content of menu with content of header widget
  		z-index: 99999;
  		display: none;

  		li {
  			width: $nav-submenu-width;
  		}

  		a {
  			background-color: $color_ncs4-navy;
			padding: 5px;
			box-sizing: border-box;
			border-style: solid;
			border-color: $color_white;
			border-width: $submenu-border-width;
			border-bottom-style: none;
		}

		li:last-of-type a{
			border-bottom-style: solid;
		}

  		/* Sub-sub-menus */
  		ul {
  			position: absolute;
			top: 0;
			right: -$nav-submenu-width;
  		}

  		li:hover > ul, li:focus-within > ul {
  			display: block;
  			left: auto;
  		}
    }



    li:hover > ul, li:focus-within > ul {
    	display: block;
    }
  }

  li {
  	position: relative;
  	margin-right: 5px;
  }

  li:last-of-type {
  	margin-right: 0;
  }

  a {
  	display: inherit;
  	text-decoration: none;
  }
}

/* Mobile Navigation */
.menu-toggle, .main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 1201px) {
	.menu-toggle {
		display: none;
	}

  .main-navigation ul {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
	.site-header-inner {
		display: block;
		width: auto;
	}

	.site-header-col {
		margin: 0;
		display: inline-block;
	}

	.site-header-col.col1, .site-header-col.col2 {
		width: 100%;
		float: unset;
	}

	.site-header-col.col2 .col-inner {
		display: block;
		width: 100%;

		#header-search-widget {
			float: left;
		}

		#header-navbar-area {
			float: right;
		}
	}

	#header-navbar {
		box-sizing: border-box;
		height: 100%;
		margin-left: 1.5rem;

		.menu-toggle {
			color: $color_white;
			background-color: $color_ncs4-navy-dark;
			padding: 0;
			border: none;
			border-radius: 0;
			border-color: $color_ncs4-navy-light;
			border-width: 1px;
			border-bottom-style: solid;
			height: $searchform-height;
			width: $mobile_nav-width;
		}

		.menu-toggle:hover, .menu-toggle:focus {
			cursor: pointer;
			background-color: $link_blue-bg-dark;
		}
	}

	

	#primary-menu {
		display: none;
	}




}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation
{
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links 
{
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous
{
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next
{
	text-align: end;
  	flex: 1 0 50%;
}