@use 'sass:color';
@import 'abstracts/variables/colors';
@import 'abstracts/variables/resources';

$header-col1-width: 25%;
$header-col2-width: 100% - $header-col1-width;
$nav-submenu-width: 150px;
$searchform-height: 3.2rem;
$mobile_nav-width: 18.6rem;
$mobile-breakpoint: 1200px;

.site-header {
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	min-height: 100px;
	background-color: $color_primary-2;

	&__inner {
		position: relative;
		display: flex;
		width: 100%;
		gap: 0.8rem;

		@media screen and (max-width: $mobile-breakpoint) {
			display: block;
			width: auto;
		}

		@at-root .site-header-col {
			display: flex;

			.col-inner {
				margin-top: auto;
			}

			&__col1 {
				position: relative;
				float: left;
				width: $header-col1-width;

				@at-root #site-header-topbar {
					position: absolute;
					height: 5px;
					width: 100%;
					background-color: $color-primary-2c;
				}

				.col-inner {
					width: 100%;
					padding-top: 5px;
					float: left;

					.title-link {
						display: block;
						background-color: transparent;

						&:hover, &:focus {
							@extend .title-link;
						}
					}
				}
			}

			&__col2 {
				float: right;
				width: $header-col2-width;
				padding-bottom: 8px;

				.col-inner {
					display: flex;
					flex-wrap: wrap;
					justify-content: right;

					@media screen and (max-width: $mobile-breakpoint) {
						justify-content: center;
						gap: 0.8rem;

						> * {
							flex: 1 0 0;
						}
					}
				}
			}

			@media screen and (max-width: $mobile-breakpoint) {
				display: inline-block;
				margin: 0;

				&__col1, &__col2 {
					width: 100%;
					float: unset;
				}
			}

		}
	}

	* {
		color: $color_white-dark;

		&:visited {
			color: unset;
		}
	}

	a:hover, a:focus {
		background-color: $color_secondary-2;
		color: unset;
	}
}

/* Search form */
#header-search-widget {
	$searchform-bg: $color_primary-0;

	display: flex;

	&__inner {
		margin-left: auto;

		.search-form {
			display: flex;
			margin-left: auto;
			border-width: 1px;
			border-style: none;
			border-radius: 0;
			border-bottom-style: solid;
			border-color: $color_primary-3;

			* {
				border: none;
				border-radius: 0;
			}

			#searchform { /* input field */
				box-sizing: content-box;
				padding: 0 0.5rem;
				line-height: 0; /* Removes any space at top */
				height: $searchform-height;
				background-color: $searchform-bg;
				color: $color_white-dark;

				&:focus, &:focus-visible {
					outline: none;
				}
			}

			.search-form-submit {
				box-sizing: content-box;
				height: $searchform-height;
				width: $searchform-height;
				background-color: $searchform-bg;
				background-image: url($ico_search);
				background-repeat: no-repeat;
				background-size: 100%;
				padding: 0;

				&:hover {
					cursor: pointer;
				}
			}
		}

		@media screen and (max-width: $mobile-breakpoint) {
			& {
				width: 100%;

				#searchform {
					flex: 1 0 0;
				}
			}
		}
	}
}

/* Navigation
--------------------------------------------- */
/* Imported (and modified) from _s's default style.scss */

.main-navigation {
  display: block;
  width: 100%;
  $submenu-item-bg-color: $color_primary-2;
  $submenu-item-color: $color_white-dark;
  $submenu-border-width: 1px;

	.menu-toggle {
		display: none;

		@media screen and (max-width: $mobile-breakpoint) {
			display: block;
		}
	}

  ul {
		display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
    	display: flex;
    	text-align: center;

			.submenu-toggle {
				display: none;
			}

	    a {
	    	margin-top: auto;
	    	text-transform: uppercase;
	    	padding: 0 8px;
	    }

    	&:hover > ul, &:focus-within > ul {
    		display: block;
    	}
    }

    /* Sub-menus */
    ul {
    	border-color: $color-primary-2c;
    	border-width: 5px;
    	border-top-style: solid;
    	background-color: $color_white-dark;
    	width: $nav-submenu-width;
    	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  		float: left;
  		position: absolute;
  		top: 100%;
  		left: -$submenu-border-width; // lineup content of menu with content of header widget
  		z-index: 99999;
  		display: none;

  		li {
  			display: block;
  			text-align: left;
  			width: $nav-submenu-width;

  			&:hover > ul, &:focus-within > ul {
  				display: block;
  				left: auto;
  			}

  		}

			a:visited {
				margin: 0;
				text-transform: unset;
				color: $submenu-item-color;
				padding: 5px;
				box-sizing: border-box;
				border: $submenu-border-width none $color_white-dark;
			}

  		a {
  			@extend :visited;
  			background-color: $submenu-item-bg-color;
			}

  		/* Sub-sub-menus */
  		ul {
  			position: absolute;
				top: 0;
				right: -$nav-submenu-width;
  		}
    }
  }

  li {
  	position: relative;
  	margin-right: 5px;
  }

  li:last-of-type {
  	margin-right: 0;
  }

  a {
  	display: inherit;
  	text-decoration: none;
  }

	/* Mobile Nav Menu */
	@media screen and (max-width: $mobile-breakpoint) {
		/* #header-navbar.main-navigation */
		display: flex;
		margin: 0;
		$mobile-nav-bg: $color-primary-2;
		--menu-expand-button-width: 3.2rem;

		.menu-toggle {
			position: relative;
			height: $searchform-height;
			width: $mobile_nav-width;
			flex: 1 0 0;
			color: $color_white-dark;
			background-color: $color_primary-0;
			padding: 0;
			border-radius: 0;
			border: 1px none $color_primary-3;
			border-bottom-style: solid;

			&:hover, &:focus {
				cursor: pointer;
				background-color: $color_secondary-1;
			}
		}

		ul {
			position: absolute;
			width: $mobile_nav-width;
			background-color: $mobile-nav-bg;

			li {
				margin: 0;

				a {
					width: 100%;
					text-align: left;
				}

				.submenu-toggle {
					display: block;
				}

				&.page_item_has_children a {
					width: calc(100% - var(--menu-expand-button-width));
				}
			}

			/* Submenu */
			ul {
				display: none;
			}

			& .toggled ul {
				display: block;
			}
		}

		@at-root #primary-menu {
			display: none;

			/* Menu Opened */
			.toggled & {
				display: block;

			}
		}
	}
}


/* Default _s code, remove at ye own peril */

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation
{
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links
{
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous
{
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next
{
	text-align: end;
  	flex: 1 0 50%;
}
