@use 'sass:color';
@import 'abstracts/variables/colors';
@import 'abstracts/variables/resources';

$header-col1-width: 25%;
$header-col2-width: 100% - $header-col1-width;
$header-padding: 1rem;
$nav-submenu-width: 20.0rem;
$nav-sticky-breakpoint: 500px;
$nav-item-gap: 1.6rem;
$mobile_widget-area-height: 3.2rem;
$mobile_nav-width: 18.6rem;
$mobile_navbar-height: 24rem;
$mobile-breakpoint: 1000px;
$mobile-breakpoint__small: 600px;
$mobile-breakpoint__extra-small: 360px;
$margin-width: 3.2rem;

.site-header {
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	min-height: 10.0rem;
	background-color: $color_primary-2;

  @media screen and (max-height: $nav-sticky-breakpoint) {
    position: relative;
  }

	&__inner {
		position: relative;
		display: flex;
		width: 100%;
		column-gap: 0.8rem;

		@at-root .site-header-col {
			display: flex;
			padding-bottom: $header-padding;

			.col-inner {
				margin-top: auto;
			}

			&__col1 {
				position: relative;
				float: left;
				width: $header-col1-width;

				@at-root #site-header-topbar {
					position: absolute;
					height: 5px;
					width: 100%;
					background-color: $color-primary-2c;
				}

				.col-inner {
					width: 100%;
					padding-top: 5px;
					float: left;

					.title-link {
						display: flex;
						padding-top: $header-padding;
						background-color: transparent;

						&:hover, &:focus {
							@extend .title-link;
						}
					}
				}
			}

			&__col2 {
				float: right;
				width: $header-col2-width;
				padding-top: $margin-width;

				.col-inner {
					display: flex;
					flex: 0 0 100%;
					flex-wrap: wrap;
					flex-direction: row-reverse;
					justify-content: right;
					gap: 0.8rem;
					column-gap: 1.6rem;
				}

				@media screen and (max-width: $mobile-breakpoint) {
					padding-top: 0;

					.col-inner {
						flex-direction: row;
						gap: 0;

						> * {
							flex: 0;
						}
					}
				}

				@media screen and (max-width: $mobile-breakpoint__small) {
					flex: 1 0 0;
				}
			}

			@media screen and (max-width: $mobile-breakpoint) {
				display: inline-block;
				margin: 0;

				&__col1, &__col2 {
					display: flex;
					width: 100%;
					float: unset;
				}
			}

		}

		@media screen and (max-width: $mobile-breakpoint__extra-small) {
			flex-direction: column;
		}
	} /* .site-header__inner */

	* {
		color: $color_white-dark;

		&:visited {
			color: unset;
		}
	}

	a:hover, a:focus {
		background-color: $color_secondary-2;
		color: unset;
	}

  a[href="#"] {

    &:hover {
      cursor: default;
    }

    &:hover, &:focus, &:focus-visible {
      background-color: $color_primary-2; /* Don't color links without a page */
    }
  }
}

@mixin searchIcon() {
	background-image: url($ico_search);
	background-repeat: no-repeat;
	background-size: 100%;
	height: $mobile_widget-area-height;
	width: $mobile_widget-area-height;
}

/* Mobile widgets */
.header-widget-area__small {
	display: flex;
	gap: 0.8rem;

	/* Membership button */
	@at-root #header-membership {
		height: 100%;
		border-bottom: 1px solid transparent; /* Same height as inner search bar */

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: 0 0.4rem;
			background-color: $color_primary-2c;
			color: $color_secondary-0c;
			text-decoration: none;
			text-transform: uppercase;

			&:hover, &:focus {
				background-color: $color_primary-3c;
			}

			&:focus-visible {
				background-color: $color_primary-3c;
				outline: 2px solid $color_white-dark;
				outline-offset: 4px;
			}
		}

		@media screen and (max-width: $mobile-breakpoint) {
			flex: 1 0 0;
			justify-content: right;
			display: flex;
		}
	}

	@at-root #mobile_header-widgets {
		display: flex;
		gap: 0.8rem;

		.search-bar-toggle {
			@include searchIcon();
		}

		@at-root #mobile_navbar-toggle {

			.menu-toggle {
				position: relative;
				flex: 0 0 $mobile_widget-area-height;

				span {
					font-size: $mobile_widget-area-height;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.mobile-widget {
		display: flex;

		button {
			width: $mobile_widget-area-height;
			height: $mobile_widget-area-height;
			color: $color_white-dark;
			padding: 0;
			border-radius: 0;
			border: none;
			background-color: transparent;

			&:hover, &:focus {
				cursor: pointer;
				background-color: $color_secondary-1;
			}

			&:focus-visible {
				outline: 2px solid $color_white-dark;
				outline-offset: 4px;
			}
		}
	}

	@media screen and (min-width: $mobile-breakpoint + 0.1px)  {
		.mobile-widget {
			display: none;
		}
	}

	@media screen and (max-width: $mobile-breakpoint__small) {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: end;
	}

	@media screen and (max-width: $mobile-breakpoint__extra-small) {
		flex-direction: row;
	}

}

/* Search form */
#header-search-widget {
	$searchform-bg: $color_primary-0;

	display: flex;

	&__inner {
		margin-left: auto;

		.search-form {
			display: flex;
			margin-left: auto;
			border-width: 1px;
			border-style: none;
			border-radius: 0;
			border-bottom-style: solid;
			border-color: $color_primary-3;

			* {
				border: none;
				border-radius: 0;
			}

			#searchform { /* input field */
				box-sizing: content-box;
				padding: 0 0.5rem;
				line-height: 0; /* Removes any space at top */
				height: $mobile_widget-area-height;
				background-color: $searchform-bg;
				color: $color_white-dark;

				&:focus, &:focus-visible {
					outline: none;
				}
			}

			.search-form-submit {
				@include searchIcon();
				box-sizing: content-box;
				background-color: $searchform-bg;
				padding: 0;

				&:hover {
					cursor: pointer;
				}

				&:focus-visible {
					outline: 2px solid $color_white-dark;
					outline-offset: 4px;
				}
			}
		}

		@media screen and (max-width: $mobile-breakpoint) {
			& {
				width: 100%;

				#searchform {
					flex: 1 0 0;
				}
			}
		}
	} /* #header-search-widget__inner */

	@media screen and (max-width: $mobile-breakpoint) {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 0.8rem $margin-width;
		background-color: $color_primary-2;

		&.toggled {
			display: flex;
		}
	}
} /* #header-search-widget */

/* Navigation
--------------------------------------------- */
/* Imported (and modified) from _s's default style.scss */

@mixin expandSubmenu() {
	display: flex;
	flex-direction: column;
	gap: 1px; // item sep width
}

#header-navbar-area {
	margin-top: auto;
	width: 100%;
}

@media screen and (max-width: $mobile-breakpoint) {
	#header-navbar-area {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-height: $mobile_navbar-height;
		background-color: $color_primary-2;
		overflow: scroll;
	}
}

.main-navigation {
  display: flex;
	justify-content: right;
  width: 100%;
  $submenu-item-bg-color: $color_primary-2;
  $submenu-item-color: $color_white-dark;
	$submenu-topbar-width: 5px;

  ul {
		display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
		column-gap: $nav-item-gap;

    li {
    	display: flex;
    	text-align: center;
      font-size: 1.6rem;
      margin: 0;

			.submenu-toggle {
				display: none;

				&:hover {
					cursor: pointer;
				}

				&:focus-visible {
					outline: 2px solid $color_white-dark;
					outline-offset: -4px;
				}
			}

	    a {
	    	margin-top: auto;
	    	text-transform: uppercase;
	    	padding: 0;
	    }

			@media screen and (min-width: $mobile-breakpoint + 0.1px) {

				&:hover > ul, &:focus-within > ul {
					@include expandSubmenu();
				}
			}
    }

    /* Sub-menus */
    ul {
			display: none;
    	border-color: $color-primary-2c;
    	border-width: $submenu-topbar-width;
    	border-top-style: solid;
    	background-color: $color_white-dark;
    	width: $nav-submenu-width;
    	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  		float: left;
  		position: absolute;
  		top: 100%;
  		z-index: 99999;

  		li {
  			display: block;
  			text-align: left;
  			width: $nav-submenu-width;

				@media screen and (min-width: $mobile-breakpoint + 0.1px) {

  				&:hover > ul, &:focus-within > ul {
  					@include expandSubmenu();
  					left: auto;
  				}
				}
  		}

			a:visited {
				margin: 0;
				text-transform: unset;
				color: $submenu-item-color;
				padding: 5px;
				box-sizing: border-box;
			}

  		a {
  			@extend :visited;
  			background-color: $submenu-item-bg-color;
			}

  		/* Sub-sub-menus */
  		ul {
  			position: absolute;
				top: -$submenu-topbar-width;
				right: -$nav-submenu-width;
  		}
    }
  } /* .main-navigation ul */

  li {
  	position: relative;
  	margin-right: 5px;
  }

  li:last-of-type {
  	margin-right: 0;
  }

  a {
  	display: inherit;
  	text-decoration: none;
  }

	/* Mobile Nav Menu */

	.submenu-toggle {
			border-radius: 0;
			border: none;
			background-color: transparent;
			color: $color_white-dark;
			transition: transform 0.4s ease-in-out;

			&::before {
				content: "\f343";
				font-family: "dashicons";
			}

			&.toggled {
				transform: rotate(180deg);
			}
	}

	@media screen and (max-width: $mobile-breakpoint) {
		/* #header-navbar.main-navigation */
		display: block;
		margin: 0;
		$mobile-nav-bg: $color-primary-2;
		--menu-expand-button-width: 3.2rem;

		ul {
			width: 100%;
			padding: 1.6rem $margin-width;
			padidng-top: 0;
			background-color: $mobile-nav-bg;

			li {
				width: 100%;
				margin: 0;
				flex-wrap: wrap;

				a {
					flex: 1 0;
					text-align: left;
					padding-right: 1.6rem;
				}

				.submenu-toggle {
					display: block;
					text-align: right;
					margin-left: auto;
				}

				&.page_item_has_children a {
					width: calc(100% - var(--menu-expand-button-width));
				}
			}

			/* Submenu */
			@mixin mobileSubmenu() {
				display: none;
				position: relative;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				padding-left: 2.4rem;
				background-color: transparent;
			}

			ul {
				@include mobileSubmenu();

				li {
					display: flex;
					width: 100%;
					flex-wrap: wrap;
				}

				ul {
					@include mobileSubmenu();
				}
			}

			&.toggled {
				display: block;
			}
		}

		@at-root #primary-menu {
			display: none;

			/* Menu Opened */
			&.toggled {
				display: block;

			}
		}
	}
} /* .main-navigation */


/* Default _s code, remove at ye own peril */

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation
{
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links
{
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous
{
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next
{
	text-align: end;
  	flex: 1 0 50%;
}
