@use 'sass:list';
@use 'sass:math';
@import 'abstracts/variables/colors';

/*
  The second-most generic stylesheet (besides style.css, which isn't modified
  if it can be avoided)
*/

$text-shrink-breakpoint: 700; /* Start shrinking text when vw = 700px */

@function clampFont($min, $max) {
  $max-unitless: math.div($max, $max * 0 + 1) * 10;
  @return clamp(
    #{$min},
    #{math.div(100vw * $max-unitless, $text-shrink-breakpoint)},
    #{$max}
  )
};

a, em, strong, span, ul, li, sup, sub, label {
  overflow-wrap: break-word;
  font-size: inherit;
}

sup, sub {
  font-size: 0.7em;
}

/* Headings */
h1, h2 {
  font-size: clampFont(2.1rem, 4.0rem);
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;
  overflow-wrap: break-word;

  &.no-text-transform {
    text-transform: none;
  }

  + h3, + h4, + h5, + h6 {
    margin-top: -1.0em;
  }
}

/* Subheadings */
h3, h4, h5, h6 {
  font-size: clampFont(1.6rem, 2.5rem);
  letter-spacing: 0.5px;
  margin: 1em 0 0.5em 0;
  overflow-wrap: break-word;
}

h3, h4 {
  font-style: italic;
}

h5, h6 {
  font-weight: normal;
}

p, li, ul{
  font-size: clampFont(1.0rem, 2.1rem);
  margin: 0;
  line-height: 1.6em;
  max-width: 80ch;
  overflow-wrap: break-word;

  + p, + li {
    margin-top: 2.4rem;
  }
}

a, a:visited {
  $link-main: $color_secondary-3;
  $link-accent: $color_secondary-2;

  color: $link-main;
  text-decoration: none;

  &:focus {
    color: $link-accent;
    text-decoration: underline;
  }

  &:hover {
    @extend :focus;
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid $link-accent;
    outline-offset: 0.2em;
  }
}

body {
  color: $color_secondary-1c;
  line-height: 1.35;
}

header.entry-header {
  display: none;
}

.post-thumbnail {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 60vh;
  justify-content: center;

  img {
    width: 100%;
  }
}


/* Components */


.ncs4-button, .ncs4-button:visited {
  --btn-primary: #{$color_white};
  --btn-secondary: #{$color_secondary-2};

  display: inline-block;
  background-color: var(--btn-secondary);
  color: var(--btn-primary);
  padding: 1.0em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;

  &:hover, &:focus-visible, &:focus {
    text-decoration: none;
    color: var(--btn-primary);

    @media (prefers-reduced-motion: no-preference) {
      transform: scale(1.1);
    }
  }

  &:active {
    @media (prefers-reduced-motion: no-preference) {
      transform: scale(0.9);
    }
  }

  /* Button types */
  &.ncs4-button__blue {
    --btn-primary: #{$color_white};
    --btn-secondary: #{$color_secondary-2};
  }

  &.ncs4-button__yellow {
    --btn-primary: #{$color_secondary-0c};
    --btn-secondary: #{$color_primary-2c};
  }

  &.ncs4-button__gold {
    --btn-primary: #{$color_secondary-0c};
    --btn-secondary: #{$color_primary-1c};
  }
}


/* Wordpress Block Stylings */


.wp-block-embed.is-type-video {
  margin: 1.6rem 0 !important; /* WP uses margin: auto !important */

  .wp-block-embed__wrapper {
    display: flex;
    justify-content: center;
  }
}

.wp-block-embed-issuu {
  $aspect-ratio: math.div(17, 11);
  --height: 90vh;

  width: 100%;
  max-width: calc($aspect-ratio * var(--height));

  .issuuembed {
    position: relative;
    max-width: calc($aspect-ratio * var(--height));
    max-height: var(--height);
    /* Inline style overrides */
    width: auto !important;
    height: auto !important;

    /* Aspect ratio hack */
    &::after {
      content: "";
      display: block;
      padding-top: #{math.div(100, $aspect-ratio)} + '%';
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

/* Utility classes */

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}


.equal-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;

  > * {
    flex: 0 0 auto;
  }
}
