@use 'sass:list';
@use 'sass:math';
@import 'abstracts/variables/colors';

/*
  The second-most generic stylesheet (besides style.css, which isn't modified
  if it can be avoided)
*/

/* Headings */
h1, h2, h3 {
  font-size: 4.0rem;
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;

  &.no-text-transform {
    text-transform: none;
  }

  + h4, + h5, + h6 {
    margin-top: -1.0em;
  }
}

/* Subheadings */
h4, h5, h6 {
  font-size: 2.5rem;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 1em 0 0.5em 0;
}

p {
  font-size: 2.1rem;
  margin: 0 0 2.4rem 0;
  line-height: 1.6em;
  max-width: 80ch;
}

em, strong {
  font-size: inherit;
}

body {
  color: $color_secondary-2c;
}

header.entry-header {
  display: none;
}
