@use 'sass:list';
@use 'sass:math';
@import 'abstracts/variables/colors';
@import 'abstracts/mixins/mixins';

/*
  The second-most generic stylesheet (besides style.css, which isn't modified
  if it can be avoided)
*/

$text-shrink-breakpoint: 700; /* Start shrinking text when vw = 700px */

@function clampFont($min, $max) {
  $max-unitless: math.div($max, $max * 0 + 1) * 10;
  @return clamp(
    #{$min},
    #{math.div(100vw * $max-unitless, $text-shrink-breakpoint)},
    #{$max}
  )
};

a, em, strong, span, ul, ol, li, sup, sub, label {
  overflow-wrap: break-word;
  font-size: inherit;
}

sup, sub {
  font-size: 0.7em;
}

/*      Base Typography      */
.site-main, .entry-content, p, li, ul, ol, h1, h2, h3, h4, h5, h6 {
  line-height: 1.6em;
  letter-spacing: 0.01em;
  overflow-wrap: break-word;

  &, div {
    font-size: clampFont(1.6rem, 2.1rem);
  }
}

/* Headings */
h1, h2 {
  font-size: clampFont(2.1rem, 4.0rem);
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;

  &.no-text-transform {
    text-transform: none;
  }

  + h3, + h4, + h5, + h6 {
    margin-top: -1.0em;
  }
}

/* Subheadings */
h3, h4, h5, h6 {
  font-size: clampFont(1.6rem, 2.5rem);
  line-height: 1.4em;
  margin: 1em 0 0.5em 0;
}

/*
h3, h4 {
  font-style: italic;
}
*/

h5, h6 {
  font-weight: normal;
}

p, li, ul, ol{
  margin: 0;
  max-width: 80ch;
}

.wp-block-file, p {
  + p{
    margin-top: 2.4rem;
  }
}

ul, ol {
  margin-bottom: 1.5em;
}

a, a:visited {
  $link-main: $color_secondary-3;
  $link-accent: $color_secondary-2;

  color: $link-main;
  text-decoration: none;

  &:focus {
    color: $link-accent;
    text-decoration: underline;
  }

  &:hover {
    @extend :focus;
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid $link-accent;
    outline-offset: 0.2em;
  }
}

code, kbd, tt, var {
  font-size: inherit;

  &.error {
    color: red;
  }
}

body {
  color: $color_secondary-1c;
  line-height: 1.35;
}

header.entry-header {
  display: none;
}

.post-thumbnail {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 60vh;
  justify-content: center;

  img {
    width: 100%;
  }
}

/* Table styles */
.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
  background-color: $color_white;
}

.wp-block-table {
  margin-bottom: 3rem !important;
  box-shadow:
    0 5px 5px 0 rgba(0,0,0,0.24),
    0 4px 8px 0 rgba(0,0,0,0.22),
    0 6px 4px -2px rgba(0,0,0,0.3);

  table {
    margin: 0;
  }
}

td, th {
  padding: 0.5em;
}


/* Components */

@include component-buttons();

/* Wordpress Block Stylings */


.wp-block-embed.is-type-video {
  margin: 1.6rem 0 !important; /* WP uses margin: auto !important */

  .wp-block-embed__wrapper {
    display: flex;
    justify-content: center;
  }
}

.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper { /* Youtube videos, mostly */
  position: relative;
  padding-top: 56.25%; /* 9/16 */

  > span { /* Later WP versions add a span between the block and the iframe */
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.wp-block-embed-issuu {
  $aspect-ratio: math.div(17, 11);
  --height: 90vh;

  width: 100%;
  max-width: calc($aspect-ratio * var(--height));

  .issuuembed {
    position: relative;
    max-width: calc($aspect-ratio * var(--height));
    max-height: var(--height);
    /* Inline style overrides */
    width: auto !important;
    height: auto !important;

    /* Aspect ratio hack */
    &::after {
      content: "";
      display: block;
      padding-top: #{math.div(100, $aspect-ratio)} + '%';
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

.wp-block-separator {
  border: none;
  background-color: #888;
}

.wp-block-file {
  margin: 0;

  & a::before {
    content: "ïŒ–";
    font-family: "dashicons";
    font-size: 0.9em;
    position: relative;
    top: 0.1em;
    display: inline-block;
    text-decoration: none;
  }
}

/* Utility classes */

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.hanging-indent p {
  margin-left: 2em;
  text-indent: -2em;
}


.equal-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;

  > * {
    flex: 0 0 auto;
  }
}
