/* These colors are kept for compatibility reasons and should not be used */
/* These colors may be used */
/* Colors are swapped around to be in order from darkest to lightest */
/* Navy */
/* Dark Blue */
/* Yellow */
/* Grey */
/* Links */
body {
  background-color: #f4f4f4;
}

/* Hero styling */
.hero-container {
  position: relative;
  z-index: -1;
  background-color: #171717;
}
.hero-container .ncs4-site-margin {
  position: relative;
  max-width: calc(85vh / 9 * 16);
}
.hero-overlay {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: inherit;
}
.hero-overlay > div {
  position: relative;
  width: 50%;
  background-color: rgba(23, 23, 23, 0.6);
}
.hero-overlay > div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: calc(100% / 2.7474774195);
  shape-outside: polygon(0 0, 100% 0, 0 100%);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background: inherit;
}
.hero-text {
  color: #f4f4f4;
  flex: 0 0 50%;
  padding-left: 2%;
}
.hero-text__header h2 {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  font-style: italic;
  text-transform: uppercase;
  font-size: clamp(10px, min(5vh, 3vw), 4.8rem);
}
.hero-text__paragraph p {
  margin: 0;
  font-size: clamp(8px, min(4vh, 2.5vw), 2.4rem);
}

.hero-video {
  display: block;
  width: 100%;
}

/* Banner block styling ("Vision", "Mission", etc) */
.banner {
  padding: 2.4rem 0;
}
.banner * {
  margin-top: 0;
}
.banner h3 {
  max-width: 40ch;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0;
}
.banner p {
  font-size: 2.4rem;
  max-width: 100ch;
  padding: 0;
}
.banner p:last-of-type {
  margin-bottom: 0;
}
.banner-navy {
  background-color: #18243E;
}
.banner-navy__gradient {
  background: linear-gradient(0, #003B7C 0%, #002C5D 22%, #040303 100%);
}
.banner-navy h3 {
  color: #FFCE2F;
}
.banner-navy p {
  color: #e6e6e6;
}
.banner-white {
  background-color: #f4f4f4;
  color: #555555;
}
.banner-blue {
  background-color: #097BFB;
  color: #e6e6e6;
}

/* Pillar Styling */
.pillars {
  justify-content: center;
}
.pillars > div {
  margin-bottom: 1.6rem;
}
.pillar {
  height: 100%;
  margin-top: 4.8rem;
  background: linear-gradient(0, #003B7C 0%, #097BFB 100%);
  color: #f4f4f4;
}
.pillar figure {
  display: flex;
  /* Shrink image container to image */
}
.pillar h3 {
  font-weight: normal;
  padding: 0 3.2rem;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}
.pillar p {
  max-width: 40ch;
  font-size: 2rem;
  padding: 0 3.2rem;
  padding-bottom: 3.2rem;
}

/* Footer Tiles */
.tiles {
  margin-top: 4.8rem;
}
.tiles__inner {
  font-size: 3.2rem;
  background-color: #f4f4f4;
}
.tiles__inner > div {
  /* Inner container of group */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2px;
}
.tiles .tile {
  background-color: #097BFB;
  flex: 1 0 0;
  width: max-content;
  max-width: 100vw;
}
.tiles .tile__image {
  width: 25.6rem;
}
.tiles .tile p {
  max-width: 30ch;
  margin: auto;
  padding: 0 0.8rem;
}

/*# sourceMappingURL=front-page.css.map */
