/* These colors are kept for compatibility reasons and should not be used */
/* These colors may be used */
/* Colors are swapped around to be in order from darkest to lightest */
/* Navy */
/* Dark Blue */
/* Yellow */
/* Grey */
/* Links */
/*
  The second-most generic stylesheet (besides style.css, which isn't modified
  if it can be avoided)
*/
/* Start shrinking text when vw = 700px */
a, em, strong, span, ul, ol, li, sup, sub, label {
  overflow-wrap: break-word;
  font-size: inherit;
}

sup, sub {
  font-size: 0.7em;
}

/*      Base Typography      */
p, li, ul, ol, h1, h2, h3, h4, h5, h6 {
  line-height: 1.6em;
  letter-spacing: 0.01em;
  overflow-wrap: break-word;
}
p, p div, li, li div, ul, ul div, ol, ol div, h1, h1 div, h2, h2 div, h3, h3 div, h4, h4 div, h5, h5 div, h6, h6 div {
  font-size: clamp( 1.6rem, 3vw, 2.1rem );
}

/* Headings */
h1, h2 {
  font-size: clamp( 2.1rem, 5.7142857143vw, 4rem );
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;
}
h1.no-text-transform, h2.no-text-transform {
  text-transform: none;
}
h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h3, h2 + h4, h2 + h5, h2 + h6 {
  margin-top: -1em;
}

/* Subheadings */
h3, h4, h5, h6 {
  font-size: clamp( 1.6rem, 3.5714285714vw, 2.5rem );
  line-height: 1.4em;
  margin: 1em 0 0.5em 0;
}

/*
h3, h4 {
  font-style: italic;
}
*/
h5, h6 {
  font-weight: normal;
}

p, li, ul, ol {
  margin: 0;
  max-width: 80ch;
}

p + p {
  margin-top: 2.4rem;
}

ul, ol {
  margin-bottom: 1.5em;
}

a, a:visited {
  color: #0061CD;
  text-decoration: none;
}
a:focus, a:hover, a:visited:hover, a:visited:focus {
  color: #00499A;
  text-decoration: underline;
}
a:hover, a:visited:hover {
  cursor: pointer;
}
a:focus-visible, a:visited:focus-visible {
  outline: 2px solid #00499A;
  outline-offset: 0.2em;
}

code, kbd, tt, var {
  font-size: inherit;
}
code.error, kbd.error, tt.error, var.error {
  color: red;
}

body {
  color: #171717;
  line-height: 1.35;
}

header.entry-header {
  display: none;
}

.post-thumbnail {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 60vh;
  justify-content: center;
}
.post-thumbnail img {
  width: 100%;
}

/* Table styles */
.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
  background-color: #f4f4f4;
}

.wp-block-table {
  margin-bottom: 3rem !important;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 4px 8px 0 rgba(0, 0, 0, 0.22), 0 6px 4px -2px rgba(0, 0, 0, 0.3);
}
.wp-block-table table {
  margin: 0;
}

td, th {
  padding: 0.5em;
}

/* Components */
.ncs4-button, .ncs4-button:visited {
  --btn-primary: #f4f4f4;
  --btn-secondary: #0061CD;
  display: inline-block;
  height: fit-content;
  background-color: var(--btn-secondary);
  color: var(--btn-primary);
  margin: 1em 0;
  padding: 1em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
  /* Button types */
}
.ncs4-button:hover, .ncs4-button:focus-visible, .ncs4-button:focus, .ncs4-button:visited:hover, .ncs4-button:visited:focus-visible, .ncs4-button:visited:focus {
  text-decoration: none;
  outline-color: var(--btn-secondary);
  color: var(--btn-primary);
}
@media (prefers-reduced-motion: no-preference) {
  .ncs4-button:hover, .ncs4-button:focus-visible, .ncs4-button:focus, .ncs4-button:visited:hover, .ncs4-button:visited:focus-visible, .ncs4-button:visited:focus {
    transform: scale(1.1);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .ncs4-button:active, .ncs4-button:visited:active {
    transform: scale(0.9);
  }
}
.ncs4-button.ncs4-button__blue, .ncs4-button:visited.ncs4-button__blue {
  --btn-primary: #f4f4f4;
  --btn-secondary: #0051a5;
}
.ncs4-button.ncs4-button__yellow, .ncs4-button:visited.ncs4-button__yellow {
  --btn-primary: #040303;
  --btn-secondary: #FFCE2F;
}
.ncs4-button.ncs4-button__gold, .ncs4-button:visited.ncs4-button__gold {
  --btn-primary: #040303;
  --btn-secondary: #E4B005;
}

/* Wordpress Block Stylings */
.wp-block-embed.is-type-video {
  margin: 1.6rem 0 !important;
  /* WP uses margin: auto !important */
}
.wp-block-embed.is-type-video .wp-block-embed__wrapper {
  display: flex;
  justify-content: center;
}

.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
  /* Youtube videos, mostly */
  position: relative;
  padding-top: 56.25%;
  /* 9/16 */
}
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper > span {
  /* Later WP versions add a span between the block and the iframe */
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.wp-block-embed-issuu {
  --height: 90vh;
  width: 100%;
  max-width: calc($aspect-ratio * var(--height));
}
.wp-block-embed-issuu .issuuembed {
  position: relative;
  max-width: calc($aspect-ratio * var(--height));
  max-height: var(--height);
  /* Inline style overrides */
  width: auto !important;
  height: auto !important;
  /* Aspect ratio hack */
}
.wp-block-embed-issuu .issuuembed::after {
  content: "";
  display: block;
  padding-top: 64.7058823529%;
}
.wp-block-embed-issuu iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wp-block-separator {
  border: none;
  background-color: #888;
}

/* Utility classes */
.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.handing-indent p {
  margin-left: 2em;
  text-indent: -2em;
}

.equal-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}
.equal-columns > * {
  flex: 0 0 auto;
}

/*# sourceMappingURL=index.css.map */
