@import '../../abstracts/variables/colors';
@import '../../abstracts/mixins/_mixins.scss';

#buddypress {

  nav.members-type-navs {
    .selected a {
      background-color: $color_primary-2;
    }

    li {
      border: 1px solid $color_secondary-2c;
    }

    a:hover, a:focus-visible {
      background-color: $color_secondary-2;
      color: $color_white;
    }
  }

  #dir-members-search-form {
    border-color: $color_secondary-2c;
  }

  #members-dir-list {

    #members-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
      list-style-type: none;

      &::before {
        content: none;
      }

      .item-entry{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: start;
        margin: auto;
        margin: 3rem;

        .item-avatar {
          margin: 0 auto;
          align-items: center;
  
          img.avatar {
            border-radius: 50%;
            border: solid 2px $color_secondary-2c;
            height: 150px;
            width: 150px;
          }
        }

        .item {

          a.friendship-button{
            @include component-buttons($color_white, $color_link-0);
            min-width: 12rem;
            display: block;
          }

          a.send-message{
            @include component-buttons($color_white, $color_link-0);
            min-width: 12rem;
            display: block;
          }
          .last-activity{
            font-size: 1.2rem;
          }

          .item-block,
          .member-name,
          .last-activity,
          .friendship-button,
          .members-meta
          {
            margin: auto;
            width: auto;
            align-self: center;
          }

          * {
            text-align: center;
            font-size: small;
            float: none;
            max-width: max-content;
            margin: auto;
          }

          p.item-title{
            font-size: large;
            color: $color_secondary-3;
          }

          p.organization-name {
            font-size: large;
          }
        }
      }

      
    }
  }
}
