@use 'sass:color';

/* These colors are kept for compatibility reasons and should not be used */

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* These colors may be used */

// Palette URL: http://paletton.com/#uid=c3K1e3B001kgBdIavnIdmiLltb-qv85kq7weg5JelmB6vlsFx8mek++tCN2ZB+VIV+XnQ+whQk00aJ0dmT01gQ022S7C0t */
/* Colors are swapped around to be in order from darkest to lightest */

/* Navy */
$color_primary-0: #0B152B;
$color_primary-1: #18243E;
$color_primary-2: #273249;	// Main Primary color */
$color_primary-3: #3E4A64;
$color_primary-4: #59657E;

/* Blue */
$color_secondary-0: #002C5D;
$color_secondary-1: #003B7C;
$color_secondary-2: #00499A;	// Main Secondary color */
$color_secondary-3: #0061CD;
$color_secondary-4: #097BFB;

/* Yellow */
$color_primary-0c: #B18800;
$color_primary-1c: #E4B005;
$color_primary-2c: #FFCE2F;	// Main Complement color */
$color_primary-3c: #FFD755;
$color_primary-4c: #FFE17F;

/* Grey */
$color_secondary-0c: #040303;
$color_secondary-1c: #171717;
$color_secondary-2c: #555555;	// Main Secondary complement */
$color_secondary-3c: #868686;
$color_secondary-4c: #B6B5B5;

// Palette URL: http://paletton.com/#uid=13A0u0kuY++dHXWnf+dWe+++VvR */

/* Links */
$color_link-0: #0051a5;
$color_link-1: #037fff;
$color_link-2: #1b8bff; // Main link color */
$color_link-3: #53a6fd;
$color_link-4: #95c5f6;

$color_white-dark: #e6e6e6;
$color_white: #f4f4f4;
