/* These colors are kept for compatibility reasons and should not be used */
/* These colors may be used */
/* Colors are swapped around to be in order from darkest to lightest */
/* Navy */
/* Dark Blue */
/* Yellow */
/* Grey */
/* Links */
/* Color Palette Styles */
.has-primary-0-color {
  color: #0B152B;
}
.has-primary-0-background-color {
  background-color: #0B152B;
}

.has-primary-1-color {
  color: #18243E;
}
.has-primary-1-background-color {
  background-color: #18243E;
}

.has-primary-2-color {
  color: #273249;
}
.has-primary-2-background-color {
  background-color: #273249;
}

.has-primary-3-color {
  color: #3E4A64;
}
.has-primary-3-background-color {
  background-color: #3E4A64;
}

.has-primary-4-color {
  color: #59657E;
}
.has-primary-4-background-color {
  background-color: #59657E;
}

.has-secondary-0-color {
  color: #002C5D;
}
.has-secondary-0-background-color {
  background-color: #002C5D;
}

.has-secondary-1-color {
  color: #003B7C;
}
.has-secondary-1-background-color {
  background-color: #003B7C;
}

.has-secondary-2-color {
  color: #00499A;
}
.has-secondary-2-background-color {
  background-color: #00499A;
}

.has-secondary-3-color {
  color: #0061CD;
}
.has-secondary-3-background-color {
  background-color: #0061CD;
}

.has-secondary-4-color {
  color: #097BFB;
}
.has-secondary-4-background-color {
  background-color: #097BFB;
}

.has-primary-0-c-color {
  color: #B18800;
}
.has-primary-0-c-background-color {
  background-color: #B18800;
}

.has-primary-1-c-color {
  color: #E4B005;
}
.has-primary-1-c-background-color {
  background-color: #E4B005;
}

.has-primary-2-c-color {
  color: #FFCE2F;
}
.has-primary-2-c-background-color {
  background-color: #FFCE2F;
}

.has-primary-3-c-color {
  color: #FFD755;
}
.has-primary-3-c-background-color {
  background-color: #FFD755;
}

.has-primary-4-c-color {
  color: #FFE17F;
}
.has-primary-4-c-background-color {
  background-color: #FFE17F;
}

.has-secondary-0-c-color {
  color: #040303;
}
.has-secondary-0-c-background-color {
  background-color: #040303;
}

.has-secondary-1-c-color {
  color: #171717;
}
.has-secondary-1-c-background-color {
  background-color: #171717;
}

.has-secondary-2-c-color {
  color: #555555;
}
.has-secondary-2-c-background-color {
  background-color: #555555;
}

.has-secondary-3-c-color {
  color: #868686;
}
.has-secondary-3-c-background-color {
  background-color: #868686;
}

.has-secondary-4-c-color {
  color: #B6B5B5;
}
.has-secondary-4-c-background-color {
  background-color: #B6B5B5;
}

.has-link-0-color {
  color: #0051a5;
}
.has-link-0-background-color {
  background-color: #0051a5;
}

.has-link-1-color {
  color: #037fff;
}
.has-link-1-background-color {
  background-color: #037fff;
}

.has-link-2-color {
  color: #1b8bff;
}
.has-link-2-background-color {
  background-color: #1b8bff;
}

.has-link-3-color {
  color: #53a6fd;
}
.has-link-3-background-color {
  background-color: #53a6fd;
}

.has-link-4-color {
  color: #95c5f6;
}
.has-link-4-background-color {
  background-color: #95c5f6;
}

.has-white-color {
  color: #f4f4f4;
}
.has-white-background-color {
  background-color: #f4f4f4;
}

.has-white-dark-color {
  color: #e6e6e6;
}
.has-white-dark-background-color {
  background-color: #e6e6e6;
}

.has-secondary-1_secondary-0_secondary-0c-gradient-background {
  background: linear-gradient(0deg, #003B7C 0%, #002C5D 22%, #040303 100%);
}

.has-secondary-1_secondary-4-gradient-background {
  background: linear-gradient(0deg, #003B7C 0%, #097BFB 100%);
}

/*# sourceMappingURL=color-palette.css.map */
